
APP_ENV=dev
APP_SECRET=1d5c3d3d0df7a4ac6a77e7c0b4508e2b
DEFAULT_URI=http://localhost
APP_SHARE_DIR=var/share

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=changeme
POSTGRES_VERSION=16
POSTGRES_CHARSET=utf8

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}&charset=${POSTGRES_CHARSET}
